@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Net_img/background.jpg");
    background-position: center center;
    background-size: max(1100px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.68;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
     
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: sans-serif;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 33px;
    padding: 0 30px;
}

.hero>:nth-child(1) {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.hero:nth-child(2) {
    font-weight: 700;
    font-size: 2.5rem;
}

.hero:nth-child(3) {
    font-weight: 400;
    font-size: 1.5rem;
}

.separation {
    height: 8px;
    background-color: rgb(46, 44, 43);
}

.btn {
    font-family: sans-serif;
    padding: 10px 18px;
    font-weight: 600;
    background-color: rgba(151, 151, 151, 0.235);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.294);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: rgba(255, 17, 17, 0.923);
    padding: 17px 33px;
    font-size: 24px;
    border-radius: 5px;
    color: white;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

}

.main input {
    padding: 20px 41px;
    color: white;
    font-size: 19px;
    border-radius: 5px;
    background-color: rgba(25, 25, 25, 0.7);
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.52);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 76vw;
    color:white;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.secImg{
    position: relative;

}
@media screen and (max-width:1300px) {
    
    .first{
          flex-wrap: wrap;
    }
}
.secImg img{
    width: 550px;
    position: relative;
    z-index: 10;
    margin-top: 47px;
}
.secImg video{
    position: absolute;
    top:128px;
    right: 20px;
    width: 472px;
}
section.first > div{
     padding: 34px 0;
    display: flex;
    flex-direction: column;
    

}
 section.first > div :first-child{
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 1000;
}
 section.first > div :nth-child(2){
    font-size: 1.5rem;
    font-weight: 500;
  
}
section .video-sec{
    position: absolute;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: hidden;
    width: 354px;
    top: 119px;
    right: 97px;
}
.faq-box:hover{
    background-color: rgba(131, 130, 130, 0.729);
}
.faq-box{
    display: flex;
    background-color: rgba(119, 117, 117, 0.322);
    padding: 24px;
    max-width: 60vw;
    margin:  14px auto;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s ease-out;

}
.Faq{
    color: white;
    background-color: black ;
    padding: 26px;
    font-size: 24px;
}
.Faq h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.footer a{
    font-size: 14px;
    color: white;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto ;
    padding: 14px;
} 
@media screen and (max-width:1300px) {
    
    .footer{
          display: grid;
          grid-template-columns: 1fr 1fr;
          color: white;
    }
}

footer.question{
    padding: 34px 0;
}

.footer{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}